
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    width: 100vw;
    height:100vh;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0% 8%;
}
.heading h1{
   position: fixed;
   bottom: 90%;
   left: 45%;
   color:white;
   
}
.cursor{
    width: 35px;
    height: 35px;
    position: absolute;
    background: yellow;
    box-shadow: 2px 2px 10px black;
    border-radius: 70%;
    transition: all ease-in 0.5s;
}
.card{
    width:25%;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.card img{
    flex:0 0 auto;
    width: 100%;
    height: 150px;
    
}
.card h1{
    letter-spacing: 3px;
    color:darkorange;
}
.card p{
    font-size: 14px;
    color: grey;
    width: 100%;
    text-align: justify;
    padding: 10px;
}